body {
    font-family: "Quicksand", sans-serif;
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: 	#ff580f;
    color: #101010;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40vw;
    height: 64vh;
    border-radius: 16px;
    background-color: #ffc99d;
}

.heading {
    padding: 10px;
    font-size: 48px;
    font-weight: 550;
    margin: 10px;
}

.main-btn button {
    padding: 8px 12px;
    margin: 0px 4px;
    border: none;
    border-radius: 6px;
    background-color: #ff7e26;
    transition: opacity 0.15s;
}

.main-btn button:hover {
    opacity: 0.8;
}

.main-btn button:active {
    opacity: 0.6;
}

.main-btn button img {
    height: 64px;
}

.features-btn {
    margin: 10px;
}

.features-btn button {
    border: none;
    border-radius: 6px;
    font-family: "Quicksand", sans-serif;
    font-weight: 700;
    padding: 8px 12px;
    margin: 0px 4px;
    font-size: 18px;
    background-color: #ff7e26;
    color: #101010;
    transition: opacity 0.15s;
}

.features-btn button:hover {
    opacity: 0.8;
}

.features-btn button:active {
    opacity: 0.6;
}

.stats {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 16px;
}

.stats span {
    font-size: 24px;
    font-weight: 600;
    margin: 6px;
}